<h1 class="mt-5">About us</h1>
<p class="lead">It might come as a surprise for such a spread-out city, but riding a bike in Berlin is often the best &amp; fastest solution to reach your destination. The flat topography of the city, the extended network of bike lanes &amp; the numerous bike repair shops offer a fantastic environment to cruise your way around the different neighborhoods. This is true for the tourist &amp; the daily commuter alike !</p>
