<h1 class=mt-5>Welcome to Bike Berlin</h1>
<p class="lead">Your source for used bikes in Berlin</p>
<div class="box">
<%= image_tag("racebike.jpg", class: "img-responsive myclass", alt: "racebike") %>
</div>

