// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#table1 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}