<div class="container-fluid">
<h1>Listing Products</h1>
  <div class="row row-relative">
    <% cache (cache_key_for_products) do %>
      <% @products.each do |product| %>
        <%= render product %>
      <% end %>  
    <% end %>
  </div>
  <br>
  <%= link_to 'New Product', new_product_path %>
</div>  


