<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>
  <div class="container-fluid">
    <div class="row row-relative">
      <% @products.each do |product| %>
        <%= render partial: "product", locals: {product: product} %>
      <% end %>
    </div>
  </div> <!-- End of class container-fluid -->
  <br>
  <%= link_to 'New Product', new_product_path %>


